<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security.xsd">


    <context:component-scan base-package="md.rwplus.backend" /> <!--  daca era in dispatcher-servlet dadea eroare -->
    <beans:bean id="passwordEncoder" 
               class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
     </beans:bean>
  
    <http pattern="/resources/**" security="none"/> <!-- pentru ca pagina din start cind intram sa fie aplicat css-ul -->
                                                    <!-- pentru static resources nu vom pune securitate -->

	<http>
	    <!-- only admin access -->
	    <intercept-url pattern="/manage/**" access="hasAuthority('ADMIN')"/>
	    
	    <!-- only user access (who is registered) -->
	    <intercept-url pattern="/cart/**" access="hasAuthority('USER')"/>
	    
	    <!-- rest of the word -->
		<intercept-url pattern="/**" access="permitAll" /> <!-- /*= /abc SI GATA, /** = /abc/pgf/dsd/dada/ si asa mai departe -->
		
		<form-login login-page="/login" /> <!-- in page controller va fi requestMapping login -->           <!--    access="hasRole('USER')"  " authorities="ROLE_USER,  ROLE_ADMIN-->
		<!-- <logout />    -->
		<access-denied-handler error-page="/access-denied"/>           
	   <!--  <csrf disabled="true"/> not recommanded -->
	</http>
    
    <!-- specificam cine este adminul la aplicatia noastra -->
	<authentication-manager>
		<authentication-provider>
		
		     <password-encoder ref="passwordEncoder"/>

				<!-- <user-service>
				Normally passwords should be hashed using BCrypt   ROLE_USER , trebuie sa corespunda cu cel de sus access="hasRole("USER")
				<user name="Dan" password="079176572d" authorities="USER, ADMIN" /> daca falosim hasRole ROLE_USER si nu doar USER, altfel va da eroare
	           </user-service> -->
	                                         <!-- dataSource din hibernateconfig file metoda getDataSource la bean ii vom da name dataSource -->
	         <jdbc-user-service  data-source-ref="dataSource" 
	                             users-by-username-query="select email, password, enabled from user_detail where email = ?"
	                             authorities-by-username-query="select email, role from user_detail where email = ?" 
	          />   
	            
			
		</authentication-provider>
	</authentication-manager>

</beans:beans>