<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security.xsd">


    <context:component-scan base-package="md.rwplus.backend" /> <!--  daca era in dispatcher-servlet dadea eroare -->


	<http>
		<intercept-url pattern="/**" access="hasAuthority('USER')" /> <!-- /*= /abc SI GATA, /** = /abc/pgf/dsd/dada/ si asa mai departe -->
		<form-login />           <!--    access="hasRole('USER')"  " authorities="ROLE_USER,  ROLE_ADMIN-->
		<logout />               <!--  access="hasAuthority('USER')    authorities="USER, ADMIN" -->
	</http>
    
    <!-- specificam cine este adminul la aplicatia noastra -->
	<authentication-manager>
		<authentication-provider>
			
				<!-- <user-service>
				Normally passwords should be hashed using BCrypt   ROLE_USER , trebuie sa corespunda cu cel de sus access="hasRole("USER")
				<user name="Dan" password="079176572d" authorities="USER, ADMIN" /> daca falosim hasRole ROLE_USER si nu doar USER, altfel va da eroare
	           </user-service> -->
	                                         <!-- dataSource din hibernateconfig file metoda getDataSource la bean ii vom da name dataSource -->
	         <jdbc-user-service  data-source-ref="dataSource" 
	                             users-by-username-query="select email, password, enabled from user_detail where email = ?"
	                             authorities-by-username-query="select email, role from user_detail where email = ?" />   
	            
			
		</authentication-provider>
	</authentication-manager>

</beans:beans>